<!DOCTYPE html>
{% load static %}
{% load cloudinary %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Sample Twitter</title>
	<link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon.png' %}">
	<meta name=”viewport” content=”width=device-width, initial-scale=1”>
</head>
<body>

	<div class="content">
		<form action="{% url 'post' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
			{{tweet.image }}
		<header>
			<img class="header-icon" src="{% static 'images/post-default-icon.svg' %}">
			<h1>Home</h1>
			<button type="submit" class="header-button">Tweet</button>
		</header>
		<div class="tweet-form">

					<div class="tweet-form-icon">
						<img src="{% static 'images/post-default-icon.svg' %}">
					</div>

					<div class="tweet-form-content">

						<input class="tweet-name-input" type="text" placeholder="Your post name" name="name">
						<textarea class="tweet-textarea" name="text" placeholder="What’s happenning?" rows="7" cols="100"></textarea>
						<input class="input" type="file" name="image_upload">
					</div>
				</div>
		</form>
		<main>

				{% for tweet in tweets %}
				{% if tweet.parent_tweet_id is None %}

			<!-- Sample Tweet 1 -->
			<div class="tweet" style="width: 100%;">
				<div class="tweet-icon">
					<img src="{% static 'images/post-default-icon.svg' %}">
				</div>
				<div class="tweet-content">
					<div class="tweet-name-area">
						<a href="{% url 'detail' tweet.id %}"><span class="tweet-name">{{tweet.name}}</span></a>
						<span class="tweet-created-at">{{tweet.created_at}}</span>
						<form action="{% url 'delete' tweet.id %}" class="delete-form" method="post">{% csrf_token %}
							<button class="delete-button" type="submit" value="Delete"/>Delete</button>
						</form>
					</div>
					<a href="{% url 'detail' tweet.id %}"><p>{{tweet.content}}</p></a>
					<a href="{% url 'detail' tweet.id %}"><img alt="{{tweet.image}}" class="tweet-image" src="{{ tweet.image_path.url }}"></a>

					<div class="tweet-buttons">
						<a href="{% url 'reply' tweet.id %}"><img class="tweet-reply" src="{% static 'images/comment.svg' %}"></a>
						<div class="tweet-reply-count">{{tweet.replycount}}</div>
					</div>
				</div>
			</div>
				{% endif %}
			{% endfor %}
		</main>


	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'twitter.js' %}"></script>
</body>
</html>