<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Sample Twitter</title>
	<link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon.png' %}">
	<meta name=”viewport” content=”width=device-width, initial-scale=1”>
</head>
<body>
	<div class="content">
		<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
		<header>
			<a href="{% url 'home' %}"><img class="header-back" src="{% static 'images/back.svg' %}"></a>
			<h1>Tweet</h1>
		</header>

		<main>
			<div class="tweet" style="width: 100%;">
				<div class="tweet-icon">
					<img src="{% static 'images/post-default-icon.svg' %}">
				</div>
			<div class="tweet-content">
					<div class="tweet-name-area">
						<span class="tweet-name">{{tweetcontent.name}}</span>
						<span class="tweet-created-at">{{tweetcontent.created_at}}</span>
					</div>
					<p>{{tweetcontent.content}}</p>
					<img alt="{{tweet.image}}" class="tweet-image" src="{{ tweetcontent.image_path.url }}">
					<img class="tweet-reply" src="{% static 'images/comment.svg' %}">
					<div class="tweet-reply-count">{{replycount}}</div>
			</div>

			</div>

			{% for reply in replycomment %}
			<div class="tweet" style="width: 100%;">
				<div class="tweet-icon">
					<img src="{% static 'images/post-default-icon.svg' %}">
				</div>
				<div class="tweet-content">
					<div class="tweet-name-area">
						<span class="tweet-name">{{reply.name}}</span></a>
						<span class="tweet-created-at">{{reply.created_at}}</span>
						<img alt="{{tweet.image}}" class="tweet-image" src="{{ reply.image_path.url }}">
					</div>
					<p>{{ reply.content }}</p>
				</div>
			</div>

			{% endfor %}
		</main>
		</form>

	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'twitter.js' %}"></script>
</body>
</html>